.users{
    display: flex;
    flex-wrap: wrap;
}

.users div{
    margin: 15px;
    padding: 15px;
    width: 130px;
}

.users .female{
    background-color: #98d1f6;
}

.users .male{
    background-color: #fee3f9;
}